.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
}

.header{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.header h2{
    font-weight: 500;
    font-size: 1.83vw;
    letter-spacing: 0.42px;
}

.header p{
    color: #0096FF;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.21px;
    margin-top: 1.5rem;
}
@media only screen and (max-width: 767px) {
    .header h2{
        font-size: 4.4vw;
        letter-spacing: 0.21px;
    }
    .header p{
        font-size: 12px;
        font-size: 3.34vw;
        letter-spacing: 0.18px;
    }
}