.container{
    /* border: 1px solid white; */
    /* width: 59rem; */
    width: 84%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
}

.header{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.header h2{
    font-weight: 500;
    letter-spacing: 0.5px;
}

.header p{
    color: #0096FF;
    font-size: 14px;
    font-weight: 500;
    margin-top: 1.4rem;
}