.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 36rem;
  margin-top: 1rem;
  padding: 1.5rem;
  gap: 1rem;
}
.input-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.input-container label {
  font-weight: bold;
}
.input {
  background-color: #0096ff33;
  color: white;
  border: none;
  outline: none;
  width: 55%;
  margin: 7px 0;
  padding: 0 1rem;
  height: 3rem;
  border-radius: 12px;
  font-size: 16px;
}

.invalid-input {
  background-color: #0096ff33;
  color: white;
  border: none;
  outline: none;
  width: 55%;
  margin: 7px 0;
  padding: 0 1rem;
  height: 3rem;
  border-radius: 12px;
  font-size: 16px;
  box-shadow: 0 0 12px inset red;
}
.input-container label {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 0.5rem;
}
.input-container img {
  width: 2.5rem;
  display: block;
  border-radius: 100%;
}
.icon {
  width: 1rem;
  cursor: pointer;
}
.buttons {
  align-self: flex-end;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.buttons button {
  border: none;
  border-radius: 10px;
  background-color: var(--main-blue, #0096ff);
  color: white;
  padding: 0.7rem;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.buttons button.cancel-button {
  background-color: var(--main-blue, #424242);
}
@media only screen and (max-width: 767px) {
  .form {
    width: 100%;
    padding: 0.5rem;
  }
  .input-container {
    flex-direction: column;
  }
  .input {
    width: 100%;
  }
  .input-container label {
    align-self: flex-start;
    font-size: 18px;
  }
  .input-container img {
    width: 2rem;
  }
}
