.container{
    width: 59rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.header{
    display: flex;
    margin-top: 4rem;
    align-items: center;
    justify-content: space-between;
    width: 59rem;
    margin-bottom: 2rem;
}

.searchBar {
    display: flex;
    width: 193.125px;
    gap: 7px;
    justify-content: center;
    align-content: center;
    flex-shrink: 0;
    color: rgba(0, 150, 255, 0.85);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.27px;
    border: 1.3px solid rgba(0, 150, 255, 0.85);
    background: rgba(6, 18, 60, 0.85);
    width: 13rem;
    padding: 10px;
    border-radius: 15px;
  }

  .searchInput {
    border: none;
    background: rgba(6, 18, 60, 0.85);
    height: 20px;
    color: #0096ffe5;
  }

  .searchInput::placeholder {
    color: #0096ffe5;
  }

  .searchInput:focus {
    outline: none;
  }

  .icon {
    background-color: #06123c;
    color: #0096ffe5;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 3px;
  }

  .footer{
    margin-left: auto;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 1rem;
  }

  .footer:hover{
    color: white;
    filter: brightness(180%);
}