.success-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2%;
  margin-left: 5%;
}
.success-content p {
  width: 75%;
  font-size: 1.3vw;
  font-weight: 500;
}
.green-icon {
  font-size: 1.2rem;
  border-radius: 50%;
  color: #15ff00;
  margin-right: 2%;
  box-shadow: 0px 0px 10px 4px #1d8713;
}
.wallet-connect-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  font-family: inherit;
}
.wallet-connect-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.wallet-connect-content pre{
  font-size: 1.3vw;
  font-weight: 500;
}
.red-icon {
  color: #ff0000;
  font-size: 1.7vw;
  border-radius: 50%;
  margin-right: 2%;
  box-shadow: 0px 0px 10px 4px #851616;
}
.meta-mask-fox {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: -8%;
  width: 10%;
  height: 10%;
}
.lack-of-amount-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2%;
  margin-left: 5%;
}
.lack-of-amount-content p {
  width: 75%;
  font-size: 1.3vw;
  font-weight: 500;
}
.orange-icon {
  margin-top: -3%;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(4, 12, 55, 0.75);
}
.modal {
  position: fixed;
  top: 30%;
  left: 35%;
  right: 35%;
  width: 35%;
  padding: 1%;
  padding-bottom: 4%;
  font-size: 16px;
  font-weight: 500;
  z-index: 100;
  overflow: hidden;
  color: white;
  background: var(--background, #040c37);
  border: 1px solid rgba(0, 150, 255, 0.75);
  border-radius: 20px;
}
.cross {
  margin-left: 96%;
}
@media only screen and (max-width: 767px) {
  .wallet-connect-content pre{
    font-size: 3vw;
    width: 100%;
  }
  .success-content p,.lack-of-amount-content p{
    font-size: 3.5vw;
    width: 70%;
  }
  .red-icon{
    font-size: 5vw;
  }
  .meta-mask-fox{
    width: 6%;
    height: 6%;
  }
  .modal{
    width: 90%;
    top: 35%;
    left: 5%;
    padding: 3%;
    padding-bottom: 10%;
  }
}