.success-content {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 2%;
  margin-left: 5%;
}
.success-content p {
  width: 75%;
}
.green-icon {
  font-size: 1.2rem;
  border-radius: 50%;
  color: #15ff00;
  margin-right: 2%;
  box-shadow: 0px 0px 10px 4px #96f78d;
}
.wallet-connect-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  font-family: inherit;
}
.wallet-connect-content {
  display: flex;
  justify-content: start;
  align-items: center;
}
.red-icon {
  color: #ff0000;
  font-size: 1.2rem;
  border-radius: 50%;
  margin-right: 2%;
  box-shadow: 0px 0px 10px 4px #f89a9a;
}
.meta-mask-fox {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: -8%;
  width: 10%;
  height: 10%;
}
.lack-of-amount-content {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 2%;
  margin-left: 5%;
}
.lack-of-amount-content p {
  width: 75%;
}
.orange-icon {
  margin-top: -3%;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(4, 12, 55, 0.75);
}
.modal {
  position: fixed;
  top: 30%;
  left: 35%;
  right: 35%;
  width: 30%;
  padding: 1%;
  padding-bottom: 4%;
  font-size: 16px;
  font-weight: 500;
  z-index: 100;
  overflow: hidden;
  color: white;
  background: var(--background, #040c37);
  border: 1px solid rgba(0, 150, 255, 0.75);
  border-radius: 20px;
}
.cross {
  margin-left: 96%;
}
