.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  padding: 1.5rem;
  gap: 1rem;
  margin-top: 5rem;
}
.inform-text {
  color: rgba(0, 150, 255, 1);
  font-weight: bold;
}
.input-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.input-container label {
  font-weight: bold;
}
.input {
  background-color: #0096ff33;
  color: white;
  border: none;
  outline: none;
  width: 55%;
  margin: 7px 0;
  padding: 0 1rem;
  height: 3rem;
  border-radius: 12px;
  font-size: 16px;
}
.input:hover {
  filter: brightness(120%);
}
.inner-input {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  width: calc(97% - 1rem);
  height: 100%;
  border-radius: 12px;
  font-size: 16px;
}
.invalid-input {
  background-color: #0096ff33;
  color: white;
  border: none;
  outline: none;
  width: 55%;
  margin: 7px 0;
  padding: 0 1rem;
  height: 3rem;
  border-radius: 12px;
  font-size: 16px;
  box-shadow: 0 0 12px inset red;
}
.invalid-input:hover {
  filter: brightness(120%);
}
.invalid-inner-input {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  width: calc(97%-1rem);
  font-size: 16px;
  height: 100%;
}

.icon {
  width: 1rem;
  cursor: pointer;
}
.buttons {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
}
.buttons button {
  border: none;
  border-radius: 10px;
  background-color: var(--main-blue, #0096ff);
  color: white;
  padding: 0.7rem;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.buttons button.cancel-button {
  background-color: var(--main-blue, #424242);
}
p.error-message {
  color: red;
  margin: 10px 0;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .form {
    width: 100%;
    padding: 0.5rem;
  }
  .input-container {
    flex-direction: column;
  }
  .input {
    width: 100%;
  }
  .input-container label {
    align-self: flex-start;
  }
}
