.container {
  width: 84%;
  display: flex;
  margin-top: 2rem;
}

.game-info-container {
  width: 61%;
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  width: 12.5vw;
  height: 12.5vw;
}

.info-box {
  width: 61%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.info-box h1 {
  font-size: 2.1vw;
  font-weight: 650;
  line-height: 30px;
}

.game-type {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 1.2vw;
}
.rank {
  color: #0096ff;
  font-weight: 400;
  font-size: 20px;
}

.description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
}

.buttons {
  display: flex;
  margin-top: 2rem;
}

.like-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.like-icon {
  cursor: pointer;
}

.like-count {
  font-size: 12px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.85);
}

.report {
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 0.3rem;
}

.report-icon {
  width: 1.3rem;
  height: 1.3rem;
}
.link {
  display: contents;
}
.play-button {
  margin-left: auto;
  width: 34%;
  height: 100%;
  padding: 0.8rem;
  border-radius: 12px;
  background: #0096ff;
  border: none;
  color: #fff;
  font-size: 20px;
  font-size: 1.3vw;
  cursor: pointer;
  font-weight: bold;
}
.mobile-play-button{
  display: none;
}
.play-button:hover {
  box-shadow: 1px 1px 10px 7px rgba(0, 150, 255, 0.1);
  border-radius: 12px;
}

.roadmap {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 325px;
}
.fourth-level {
  display: flex;
}
.third-level-score {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.195px;
  margin-top: auto;
  margin-bottom: -3px;
  margin-left: 17px;
}
.third-to-fourth-arrow {
  margin-top: 15px;
  margin-left: auto;
}
.fourth-step-button {
  height: 20%;
  margin-top: 7%;
  margin-left: 2.5%;
  margin-right: 2%;
}
.fourth-level-score {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.195px;
}
.fourth-level-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 25%;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.21px;
  border-radius: 9px;
  background: linear-gradient(90deg, #00d7ff 15.86%, #0d3fe6 100%);
}
.third-level {
  display: flex;
}
.third-level-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 35%;
  margin-top: 2%;
  margin-left: 5%;
  padding:11px 1px;
  font-size: 1.06vw;
  font-weight: 700;
  letter-spacing: 0.21px;
  border-radius: 9px;
  background: linear-gradient(90deg, #00d7ff 15.86%, #0d3fe6 100%);
}
.third-step-button {
  height: 30%;
  margin-top: 3%;
  margin-left: 3%;
}
.second-to-third-arrow {
  margin-top: 3%;
  margin-left: 2%;
}
.second-level-score {
  margin-top: auto;
  margin-left: auto;
  margin-right: 6%;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.195px;
}
.first-and-second-level {
  display: flex;
}
.first-level {
  margin-left: 12%;
  margin-top: auto;
}
.first-level-score {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.195px;
}
.first-level-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 1.7rem;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.21px;
  border-radius: 9px;
  background: linear-gradient(90deg, #00d7ff 15.86%, #0d3fe6 100%);
}
.first-to-second-arrow {
  margin-left: 40%;
  margin-left:1.1vw;
  margin-top: 15%;
}
.first-step-button {
  margin-top: 5%;
  margin-left: 10%;
}
.second-level-container {
  display: flex;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 10%;
}
.second-step-button {
  height: 25%;
  margin-left: -13%;
  margin-top: 5%;
  margin-right: 4%;
}
.second-level-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: inherit;
  height: 1.7rem;
  margin-top: 2%;
  margin-left: 10%;
  padding: 10%;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.21px;
  border-radius: 9px;
  background: linear-gradient(90deg, #00d7ff 15.86%, #0d3fe6 100%);
}
@media only screen and (max-width: 767px) {
  .container{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .game-info-container{
    width: 93%;
  }
  .info-box{
    margin-left: 2vw;
    width: 72%;
  }
  .info-box h1{
    font-size: 5vw;
    font-weight: 600;
  }
  .game-type{
    font-size: 3.5vw;
  }
  .rank{
    font-size: 3.5vw;
  }
  .thumbnail{
    width: 21vw;
    height: 21vw;
  }
  .like-container{
    margin-left: auto;
    gap: 0.3vw;
    /* margin-left: 10%; */
  }
  .buttons{
    flex-wrap: wrap;
    gap: 0.5vw;
    margin-top: -7%;
  }
  .play-button{
    display: none;
  }
  .mobile-play-button {
    margin-left: auto;
    display: block;
    width: 100%;
    height: 40%;
    margin-top: 3%;
    padding: 0.8rem;
    border-radius: 12px;
    background: #0096ff;
    border: none;
    color: #fff;
    font-size: 4vw;
    cursor: pointer;
    font-weight: bold;
  }
  .description{
    display: none;
  }
  .roadmap{
    margin: 8vw 0;
  }
  .third-level-score{
    margin-bottom : -1%;
    margin-left: 5%;
  }
  .fourth-level-label , .third-level-label{
    font-size: 14px;
  }
  .first-to-second-arrow{
    margin-left: 40%;
  }
}