.gamePicsContainer{
    /* border: 1px solid white; */
    width: 70rem;
    margin-top: 1rem;
}

.picsHeader{
    margin-left: 5.5rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.gamePicsBody{
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
}

.picsContainer{
    /* border: 1px solid white; */
    width: 40rem;
    display: flex;
    margin-left: 2rem;
    gap: 2.5rem;
    overflow: scroll;
}

.picsContainer::-webkit-scrollbar {
    display: none;
}

.picsContainer img{
    height: 25rem;  
}

.iconContainer {
    /* background-color: #06123c; */
    color: #0096ffe5;
    border-radius: 50%;
    height: 2.2rem;
    width: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 1.5rem;
}

.icon{
    height: 1.3rem;
    width: 1.3rem;
}

.iconBackground{
    background-color: #06123c;
    
}

.disabled{
    display: none;
    /* color: #0095ff69; */
  }