.listGamesBody {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3rem;
}
.listGameItemContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  border: 1.5px solid rgba(0, 150, 255, 0.15);
  background: rgba(0, 150, 255, 0.07);
}
.listGameItemContainer:hover {
  border: 1.5px solid rgba(0, 150, 255, 0.4);
}
.gameLogo{
    width: 4rem;
    height: 4rem;
}
.gameInfoContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 1rem;
    line-height: 15px;
}
.gameName{
    font-weight: 600;
    font-size: 16px;
}

.gameCategory , .gameRank{
    font-size: 14px;
    font-weight: 300;
}

.likesContainer{
    margin-left: auto;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 0.3rem;
}
.GameLikesCount{
    font-size: 13px;
    font-weight: 300;
}
