.list-games-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* margin-top: 3rem; */
}
.list-game-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px;
  border: 1.5px solid rgba(0, 150, 255, 0.15);
  background: #082355;
}

.list-game-item-container:hover {
  border: 1.5px solid rgba(0, 150, 255, 0.4);
}
@media only screen and (max-width: 767px) {
  .list-games-body{
    gap: 0.75rem;
  }
  .list-game-item-container{
    padding: 7px;
  }
}