.game {
  width: 99%;
  height: 3rem;
  display: flex;
  border: 0.5px solid rgba(72, 36, 255, 0.507);
  margin: .5rem 0;
  border-radius: 12px;
  align-items: center;
}

.game:hover {
    border: 0.5px solid rgba(72, 36, 255, 0.884);
}

.up-icon {
  color: #2f88ff;
  margin-left: auto;
}

.game-pic {
  width: 2.8rem;
  height: 2.5rem;
  margin: 0 5px;
  border-radius: 10px;
}

.game-name {
  font-size: 16px;
  margin-left: 5px;
  font-weight: bold;
}

.score {
  font-size: 14px;
  margin-right: 1rem;
  margin-left: auto;
}

.dark_back {
  background-color: #06123c;
}
.light_back {
  background-color: #051b48;
}
