.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  /* width: 74rem; */
  width: 94%;
  margin: 5rem auto;
  /* border: 1px solid white; */
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 79%;
  height: 3rem;
  overflow-y: visible;
  margin-bottom: 3rem;
  /* border: 1px solid white; */
}

.search-bar {
  margin-right: 5rem;
  margin-top: -0.65rem;
  display: flex;
  width: 20rem;
  gap: 7px;
  align-content: center;
  flex-shrink: 0;
  border: 1.3px solid rgba(0, 150, 255, 0.85);
  background: rgba(6, 18, 60, 0.85);
  padding: 10px;
  border-radius: 15px;
}

.search-input {
  border: none;
  background: rgba(6, 18, 60, 0.85);
  width: 95%;
  color: rgba(0, 150, 255, 0.85);
  font-size: 16px;
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.27px;
}
.search-input::placeholder {
  color: rgba(0, 150, 255, 0.85);
}

.search-input:focus {
  outline: none;
}

.search-icon {
  background-color: #06123c;
  color: rgba(0, 150, 255, 0.85);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 3px;
}

.header-right-side-container {
  display: flex;
  align-items: flex-start;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  margin-left: auto;
  margin-bottom: auto;
  /* border: 1px solid white; */
}

.sortby-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* position: absolute;
  top: 5.35rem;
  right: 28rem; */

  /* border: 1px solid white; */
}

.sortby {
  font-size: 16px;
  font-weight: 600;
}

.dropdown-icon {
  margin-top: 10px;
  font-size: larger;
  margin-top: 0.5rem;
  cursor: pointer;
}

.veiw-title {
  font-size: 16px;
  font-weight: 600;
  margin-right: 1rem;
  margin-left: 1.5rem;
  /* border: 1px solid white; */
}

.choice-container {
  /* float: right; */
  width: 9rem;
  height: 8rem;
  border: 1.5px solid rgba(0, 150, 255, 0.85);
  border-radius: 12px;
  display: flex;
  /* gap: 0; */
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0.5rem;
  position: relative;
  /* top: 3rem; */
}

.list-dropdown-background {
  background: rgba(6, 18, 60, 0.88);
}

.compact-dropdown-background {
  background: rgba(6, 18, 60, 0.95);
}

.choice {
  margin-left: 2rem;
}

.selected-choice {
  color: rgba(0, 150, 255, 1);
}
.not-selected-choice {
  color: rgba(0, 150, 255, 0.7);
}

.not-selected-choice:hover {
  color: rgba(0, 150, 255, 1);
  cursor: pointer;
}

.view-icon {
  margin-right: 0.5rem;
  height: 2rem;
  width: 2.1rem;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .page-container {
    width: 100%;
    margin: 0;
    margin-top: 4rem;
  }
  .header {
    width: 90%;
    margin-bottom: 0.6rem;
  }
  .veiw-title {
    display: none;
  }
  .choice-container {
    width: 30vw;
  }
  .choice {
    margin-left: 17%;
  }
  .view-icon {
    display: none;
  }
}
