.container {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 7rem auto;
  border-radius: 16px 16px 16px 18px;
  border: 1px solid rgba(4, 12, 55, 0.85);
  background: rgba(34, 164, 255, 0.2);
}

.losing-message-container{
    /* border: 1px solid white; */
    width: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(4, 12, 55, 0.85);
    color: #FFF;
    font-size: 16px;
    font-weight: 800;
}

.emoji{
    width: 9%;
    margin-left: 1%;
}

.winning-message-container{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(4, 12, 55, 0.85);
    color: #FFF;
    /* font-size: 14px; */
    font-size: 16px;
    font-weight: 800;
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
}

.crown{
    position: absolute;
    /* left:34.5rem; */
    /* top:7.5rem; */
    left: 29%;
    bottom:50%;
    width: 14%;
}

.winning-gif{
    width: 60%;
    position: absolute;
    left: 37%;
    bottom: -200%;
    rotate: 35deg;
    /* bottom: -70px; */
    /* left: 35rem; */
    /* top: 1rem; */
    /* left: 45%; */
    /* top: 3%; */
    /* border: 1px solid snow; */
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    overflow: visible;
    /* border: 1px solid white; */
    width: 60%;
}

.score{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 2%;
    color: #FFF;
    letter-spacing: 0.45px;
    /* border: 1px solid white; */
}

.rank{
    text-shadow: 0px 4px 8px 0px rgba(12, 26, 102, 0.40);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 3.2%;
}

.token{
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}

.gemyto {
  width: 1.5rem;
}

.token-count{
    font-size: 20px;
    font-weight: 800;
}

.earning-condition{
    color: rgba(0, 150, 255, 0.80);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 7%;
    text-align: center;
}

.play-button{
    width: 69%;
    padding: 5.4%;
    margin-bottom: 13%;
    border: none;
    border-radius: 12px;
    background: linear-gradient(180deg, #6EC3FF 0%, #0096FF 57.10%);
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    box-shadow: 1px 1px 20px 1px #0096FF ;
    cursor: pointer;
    /* transition: box-shadow .3s; */
}

.play-button:hover {
  box-shadow: 1px 1px 20px 3px #0096ff;
}

.footer-buttons-container{
    /* border: 1px solid white; */
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 12%;
}

.footer-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(4, 12, 55, 0.50) 0%, rgba(4, 12, 55, 0.90) 57.81%);
    /* width: 25%; */
    padding: 7%;
    border-radius: 12px;
}

.footer-button img{
    width: 93%;
}

@media only screen and (max-width: 767px) {
    .container{
        width: 90%;
    }
    .losing-message-container{
        font-size: 4vw;
        font-weight: 800;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
    .emoji{
        width: 10vw;
    }
    .winning-message-container{
        font-size: 4vw;
        font-weight: 800;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
    .crown{
        width: 17vw;
        left: 22vw;
        bottom: 45%;
    }
    .winning-gif{
        width: 50vw;
        left: 35vw;
        bottom: -150%;
    }
    .body{
        width: 70%;
    }
    .play-button{
        width: 12rem;
        padding: 1rem;
        margin-bottom: 2rem;
    }
    .footer-buttons-container{
        width: 8rem;
        margin-bottom: 2rem;
    }
    footer-button{
        padding: 1rem;
    }
    .footer-button img{
        width: 2rem;
    }

    
}
.link{
    display: contents;
}