.container {
  width: 70%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.header {
  width: 100%;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 150, 255, 0.25);
  border-radius: 12px;
}

.header-content {
  font-family: Poppins, sans-serif;
  /* display: flex;
  align-items: center; */
  display: inline;
  /* text-align: center; */
  font-size: 15px;
  /* font-size: 0.97vw; */
  font-weight: 200;
  letter-spacing: 0.5px;
  margin: 0.6rem 0.2rem;
  font-weight: bold;
}
.header-content p{
  display: inline;
}
.header-content div{
  display: inline;
}
.header-content span {
  font-size: 14px;
  color: #00d7ff;
}

.emoji {
  width: 1.3rem;
  height: 1.3rem;
  /* margin-top: 0.5rem; */
  margin-bottom: -0.4rem;
  margin-left: 0.2rem;
}
.mobile-size-game-description{
  display: none;
}
@media only screen and (max-width: 767px) {
  .container{
    width: 100%;
  }
  .header{
    width: 95%;
    padding: 3vw;
  }
  .header-content{
    font-size: 15px;
    /* font-size: 4vw; */
    font-weight: 500;
  }
  .mobile-size-game-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
  }
  .mobile-size-game-description h2{
    /* font-size: 14px; */
    font-size: 3.7vw;
    font-weight: 500;
  }
  .mobile-size-game-description p{
    /* font-size: 12px; */
    font-size: 3.3vw;
    font-weight: 300;
  }
}