.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fading-background {
  width: 100%;
  height: 50rem;
  margin: 0 auto;
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: 90% 30rem;
  position: absolute;
  top: 5rem;
  z-index: -10;
  filter: brightness(50%);
  margin-top: -5rem;
  overflow-x: hidden;
}
.fading-background-2 {
  width: 100%;
  height: 50rem;
  margin: 0 auto;
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: 80% 40rem;
  position: absolute;
  top: 5rem;
  z-index: -10;
  filter: brightness(70%);
  margin-top: -5rem;
  overflow-x: hidden;
}
.intro-container {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-container h1 {
  color: #fff;
  font-size: 3.25vw;
  font-weight: 700;
  letter-spacing: 0.96px;
  margin-bottom: 2rem;
}

.description {
  color: #fff;
  font-size: 1.1vw;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.second-description-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 0.4rem;
}

.second-description-container img {
  width: 2rem;
  height: 2rem;
  margin-left: 0.7rem;
}

.second-description {
  color: #fff;
  font-size: 2.46vw;
  font-weight: 700;
}

.blue-txt {
  color: #0096ff;
}

.learn-more-button {
  width: 13%;
  background: linear-gradient(180deg, #6ec3ff 0%, #0096ff 57.1%);
  border: none;
  border-radius: 12px;
  padding: 0.8rem;
  color: #fff;
  letter-spacing: 0.3px;
  box-shadow: 1px 1px 20px 0.5px #0095ff;
  cursor: pointer;
  font-size: 1.43vw;
  font-weight: bold;
}

.learn-more-button:hover {
  box-shadow: 1px 1px 20px 2px #0095ff;
}

.game-switch-container {
  color: white;
  display: flex;
  gap: 2rem;
  margin-top: 8rem;
}
.first-big-game-background-image {
  /* background-image: url("../assets/big pic 3.png"); */
  background-repeat: no-repeat;
  background-size: 100%;
  width: 48.2vw;
  height: 32.3vw;
  z-index: -100;
}
.second-big-game-background-image {
  /* background-image: url("../assets/small pic 1.png"); */
  background-repeat: no-repeat;
  background-size: 100%;
  width: 48.2vw;
  height: 32.3vw;
  z-index: -100;
}
.third-big-game-background-image {
  /* background-image: url("../assets/small pic 2.png"); */
  background-repeat: no-repeat;
  background-size: 100%;
  width: 48.2vw;
  height: 32.3vw;
  z-index: -100;
}
.main-slider{
  position: absolute;
  width: 48.2vw;
  height: 32.3vw;
  z-index: -100;
}
.bottom-blur-background {
  background-image: url("../assets/sh 1.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 100%;
  height: 105%;
}
.game-info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.game-text-info-container {
  line-height: 20px;
  margin-top: 50%;
  margin-left: 5%;
}
.game-name {
  font-size: 1.22vw;
  font-weight: 600;
}
.game-category,
.rank {
  font-size: 1.17;
  font-weight: 300;
}

.likes-container {
  margin-left: auto;
  margin-right: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50%;
  margin-right: 20%;
}

.game-likes-count {
  font-size: 1vw;
  font-weight: 300;
}
.play-now-button {
  height: 10%;
  width: 23%;
  background: linear-gradient(180deg, #6ec3ff 0%, #0096ff 57.1%);
  border: none;
  border-radius: 12px;
  padding: 0.8rem;
  color: #fff;
  font-size: 1.13vw;
  letter-spacing: 0.3px;
  box-shadow: 1px 1px 20px 0.5px #0095ff;
  cursor: pointer;
  margin-right: 5%;
  margin-top: 53%;
  font-weight: bold;
}
.play-now-button:hover {
  box-shadow: 1px 1px 20px 1.5px #0095ff;
}
.small-size-games-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.first-small-game-background-image {
  /* background-image: url("../assets/small pic 3.png"); */
  background-repeat: no-repeat;
  background-size: 100%;
  width: 15vw;
  height: 9.9vw;
}
.second-small-game-background-image {
  /* background-image: url("../assets/small pic 1.png"); */
  background-repeat: no-repeat;
  background-size: 100%;
  width: 15vw;
  height: 9.9vw;
}
.third-small-game-background-image {
  /* background-image: url("../assets/small pic 2.png"); */
  background-repeat: no-repeat;
  background-size: 100%;
  width: 15vw;
  height: 9.9vw;
}
.slider {
  width: 15vw;
  height: 9.9vw;
  z-index: -100;
  position: absolute;
}
.fully-blur-background-color {
  width: 100%;
  height: 100%;
  background-color: rgba(4, 12, 55, 0.6);
}

.token-description-container {
  width: 70%;
  display: flex;
  align-items: center;
  margin-top: 8rem;
}

.gemyto-description-container {
  width: 50%;
}

.title {
  background: linear-gradient(to right, #0096ff, #0500ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.1vw;
  font-weight: 700;
  letter-spacing: 0.72px;
  margin-bottom: 3rem;
}

.gemyto-description {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.3vw;
  font-weight: 500;
  margin-bottom: 2rem;
}

.buy-guidance-title {
  color: #0096ff;
  font-size: 1.56vw;
  font-weight: 500;
}

.buying-guidance-container {
  width: 85%;
  display: flex;
  margin-top: 4%;
}

.buying-platform-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 150, 255, 0.2);
  border-radius: 15px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 0.78vw;
  font-weight: 600;
  letter-spacing: 0.18px;
  margin-right: 5%;
  padding: 2%;
  justify-content: center;
  align-items: center;
}

.buying-platform-container img {
  width: 95%;
  height: 90%;
  /* margin-top: 2%; */
  /* margin-left: 7%; */
}

.uniswap {
  width: 78% !important;
  margin-bottom: 7%;
  margin-left: 10%;
}
.apeswap-img {
  margin-bottom: 2%;
}

.gemyto-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-left: auto;
  width: 45%;
  border-radius: 30px;
  background: rgba(0, 150, 255, 0.2);
}

.gemyto-info-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 150, 255, 0.95);
  font-size: 1.76vw;
  font-weight: 600;
  letter-spacing: 0.48px;
  margin-top: 5%;
}

.contract-address-container {
  display: flex;
  align-items: center;
  width: 90%;
  border: 1.5px solid rgba(0, 150, 255, 0.85);
  border-radius: 15px;
  padding: 1% 2.2% 1% 2.5%;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1vw;
  font-weight: 500;
  letter-spacing: 0.225px;
  margin-top: 7%;
}

.ethereum {
  margin-right: 2%;
}

.copy-icon {
  margin-left: auto;
  width: 5%;
  cursor: pointer;
}

.prices-container {
  display: flex;
  width: 90%;
  margin-top: 7%;
  justify-content: space-between;
  margin-bottom: 5%;
}

.price-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #0096ff;
  border-radius: 20px;
  width: 30%;
  align-items: center;
  padding: 6% 1%;
  justify-content: center;
}

.price-item-title {
  color: rgba(255, 255, 255, 0.85);
  font-size: 0.78vw;
  font-weight: 600;
  letter-spacing: 0.21px;
  margin-bottom: 9%;
}

.price-amount {
  color: #fff;
  font-size: 0.98vw;
  font-weight: 600;
  letter-spacing: 0.27px;
  margin-bottom: 9%;
}

.price-change-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding-left: 13%;
}

.price-change-container img {
  width: 35%;
}

.red-text {
  color: rgba(255, 0, 0, 0.8);
  font-size: 0.9vw;
  font-weight: 600;
}

.green-text {
  color: rgba(0, 255, 41, 0.8);
  font-size: 0.9vw;
  font-weight: 600;
}

.tokenomics {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40rem;
  margin-top: 8rem;
  overflow: hidden;
}

.tokenomics-title {
  background: linear-gradient(226deg, #1500ff 0%, #0096ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.62vw;
  font-weight: 700;
  letter-spacing: 0.6px;
}
.chart {
  display: flex;
  justify-content: center;
  margin-left: 15%;
  width: 90%;
  height: 100%;
}

.chart p {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.55vw;
  font-weight: 500;
  letter-spacing: 0.3px;
  margin-top: 16%;
  width: 47%;
}

.clock-and-description-container {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: 8rem;
  width: 80%;
  justify-content: space-around;
}
.clock-container {
  color: var(--main-blue, #0096ff);
  font-size: 3.5vw;
  width: 15rem;
  padding: 4rem 13rem;
  padding: 4.4vw 13.6vw;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 0.81px;
  box-shadow: 0px 0px 35px 5px #0096ff;
  border-radius: 25px;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock-container:hover {
  box-shadow: 0px 0px 45px 5px #0096ff;
}
.clock-description {
  color: white;
  width: 50%;
  font-size: 1.3vw;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.roadmap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 8rem;
}

.roadmap-container h2 {
  background: linear-gradient(247deg, #1500ff 0%, #00d7ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.62vw;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.roadmap {
  display: flex;
  justify-content: center;
}

.faq-container {
  color: white;
  margin-top: 8rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.faq-title {
  color: var(--main-blue, #0096ff);
  font-size: 2.62vw;
  font-weight: 700;
  letter-spacing: 0.6px;
}
.faq-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 70%;
  padding: 2%;
  background-color: rgba(0, 150, 255, 0.2);
  border-radius: 26px;
  font-size: 1.17vw;
  letter-spacing: 0.3px;

  cursor: pointer;
}
.faq-item-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.faq-answer {
  margin-left: 2%;
  margin-bottom: 2%;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-top: 8rem;
}

.subscribe-container p {
  background: linear-gradient(to right, #1500ff 0%, #00d7ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.47vw;
  font-weight: 700;
  letter-spacing: 0.72px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 2rem;
}

.input {
  width: 80%;
  border-radius: 1.3vw;
  background: rgba(0, 150, 255, 0.2);
  border: none;
  padding: 3.3% 3%;
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.3vw;
  font-weight: 500;
  outline: none;
  border: none;
}
.input:hover {
  filter: brightness(120%);
}
.input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.invalid-input {
  width: 80%;
  border-radius: 20px;
  background: rgba(0, 150, 255, 0.2);
  border: none;
  padding: 3.3% 3%;
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.3vw;
  font-weight: 500;
  box-shadow: 0 0 12px inset red;
}

.subscribe-button {
  width: 19%;
  color: #fff;
  border-radius: 1.6vw;
  background: rgba(0, 150, 255, 0.96);
  border: none;
  font-size: 1.3vw;
  font-weight: bold;
  cursor: pointer;
}

.subscribe-button:hover {
  background: #0096ff;
}
.link {
  display: contents;
}
@media only screen and (max-width: 767px) {
  .intro-container h1 {
    font-size: 7.7vw;
    letter-spacing: 0.42px;
  }
  .fading-background {
    background-size: 90% 20rem;
    top: 10rem;
  }
  .fading-background-2 {
    background-size: 80% 20rem;
    top: 10rem;
  }
  .description {
    font-size: 4.48vw;
    letter-spacing: 0.24px;
  }
  .second-description {
    font-size: 20px;
    font-size: 5.6vw;
    letter-spacing: 0.3px;
  }
  .learn-more-button {
    width: 40vw;
    max-width: 18rem;
    font-size: 4.48vw;
    letter-spacing: 0.24px;
  }
  .first-big-game-background-image,
  .second-big-game-background-image,
  .third-big-game-background-image {
    width: 90vw;
    border-radius: 25px;
    background-size: 100%;
    height: inherit;
  }
  .bottom-blur-background {
    height: inherit;
    background-size: 100%;
  }
  .small-size-games-container {
    display: none;
  }

  .game-switch-container {
    gap: 0;
    margin-left: 0;
    margin-bottom: 0;
    justify-content: center;
    height: fit-content;
    margin-top: 4rem;
    width: 90%;
    height: 100%;
  }
  .game-text-info-container {
    line-height: 4.4vw;
    margin-top: 45%;
    margin-bottom: 7%;
  }
  .game-category,
  .rank {
    font-size: 2.8vw;
  }
  .game-name {
    font-size: 3.3vw;
  }
  .play-now-button {
    font-size: 2.74vw;
    margin-top: 50%;
    letter-spacing: 0.15px;
  }
  .second-description-container img {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1.4vw;
  }
  .title {
    font-size: 8.9vw;
    letter-spacing: 0.48px;
    margin-bottom: 1.7rem;
  }
  .gemyto-description {
    font-size: 3.89vw;
    letter-spacing: 0.21px;
    width: 90%;
  }
  .token-description-container {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }
  .buying-guidance-container {
    justify-content: center;
    gap: 3%;
  }
  .buy-guidance-title {
    font-size: 4.48vw;
    letter-spacing: 0.24px;
  }
  .buying-platform-container {
    font-size: 2.74vw;
    letter-spacing: 0.15;
    margin-right: 0;
    width: 50%;
  }
  .buying-platform-container img {
    height: 100%;
  }

  .gemyto-description-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gemyto-info {
    margin-left: 0;
    width: 85%;
  }
  .gemyto-info-title {
    font-size: 6.65vw;
    letter-spacing: 0.36px;
  }
  .gemyto-info-title img {
    width: 4.4vw;
  }
  .contract-address-container span {
    font-size: 3.15vw;
    letter-spacing: 0.165px;
  }
  .price-item-title {
    font-size: 2.18vw;
    letter-spacing: 0.156px;
  }

  .price-amount {
    font-size: 3.7vw;
    letter-spacing: 0.2px;
  }

  .price-change-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding-left: 13%;
  }

  .red-text {
    font-size: 3.27vw;
    letter-spacing: 0.178px;
  }

  .green-text {
    font-size: 3.27vw;
    letter-spacing: 0.178px;
  }
  .clock-and-description-container {
    flex-direction: column;
    width: 100%;
  }
  .clock-container {
    width: 70%;
    font-size: 38px;
    font-size: 10.4vw;
    letter-spacing: 0.57px;
    padding: 12vw 27vw;
  }
  .clock-description {
    width: 80%;
    font-size: 3.88vw;
    letter-spacing: 0.21px;
  }
  .tokenomics {
    height: 20%;
  }
  .tokenomics-title {
    font-size: 8.9vw;
    letter-spacing: 0.48px;
  }
  .chart {
    flex-wrap: wrap-reverse;
    width: 120%;
    min-width: 500px;
    max-width: 45rem;
    overflow: hidden;
  }

  .chart p {
    width: 60%;
    font-size: 4vw;
    margin-right: 10%;
    display: none;
  }

  .roadmap-container {
    width: 90%;
    margin-top: 5rem;
  }

  .roadmap-container h2 {
    font-size: 8.9vw;
    margin-bottom: 5rem;
  }

  .roadmap {
    width: 100%;
    overflow: scroll;
  }

  .roadmap::-webkit-scrollbar {
    display: none;
  }

  .faq-container {
    width: 100%;
  }
  .faq-title {
    font-size: 8.9vw;
    letter-spacing: 0.48px;
  }
  .faq-item {
    padding: 5%;
    font-size: 3.15vw;
    border-radius: 10px;
    width: 90%;
  }
  .subscribe-container {
    width: 100%;
  }
  .subscribe-container p {
    font-size: 7.65vw;
    letter-spacing: 0.45px;
    width: 60%;
    text-align: center;
  }
  .input-container {
    flex-direction: column;
    gap: 1rem;
  }
  .input {
    width: 100%;
    font-size: 3.7vw;
    letter-spacing: 0.24px;
    border-radius: 15px;
    padding: 1rem;
  }
  .invalid-input {
    width: 100%;
    font-size: 3.7vw;
    letter-spacing: 0.24px;
    border-radius: 15px;
    padding: 1rem;
  }
  .subscribe-button {
    width: 100%;
    font-size: 4.2vw;
    letter-spacing: 0.21px;
    padding: 1rem 3rem;
    border-radius: 15px;
  }
}
