.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 52%;
    margin: 5rem auto;
}

.container h1{
    color: rgba(255, 255, 255, 0.85);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.36px;
}

.container hr{
    border: 1px solid rgba(0, 150, 255, 0.90) ;
    width: 100%;
    margin-top: 1.9%;
}

.short-cut-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 7.5%;
}

.short-cut-container button {
    color: rgba(255, 255, 255, 0.85);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.225px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.short-cut-container button:hover{
    color: #1a7fc7;
    font-weight: 500;
    letter-spacing: 0.225px;
}

.title{
    margin-right: auto;
    color: #0096FF;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.3px;
    margin-bottom: 2%;
}

.description{
    color: rgba(255, 255, 255, 0.85);
    font-size: 15px;
    font-weight: 400;
    line-height: 162.023%;
    letter-spacing: 0.225px;
    margin-bottom: 8.1%;
    margin-right: auto;
}


.token-description{
    color: rgba(255, 255, 255, 0.85);
    font-size: 15px;
    font-weight: 400;
    line-height: 162.023%;
    letter-spacing: 0.225px;
    margin-bottom: 3%;
}


.buying-guidance-title{
    color: #0096FF;
    font-size: 18px;
    font-weight: 500;
    margin-right: auto;
    margin-bottom: 2%;
}

.buying-guidance-container{
    width: 100%;
    display: flex;
    margin-bottom: 8.1%;
}

.buying-platform-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 150, 255, 0.20);
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.85);
    font-size: 12px;
    margin-right: 2%;
    padding-top: 1%;
}


.buying-platform-container img{
    width: 80%;
    margin-top: 2%;
}


.buying-platform-container a{
    display: flex;
    justify-content: center;
}

.uniswap{
    margin-bottom: 7%;
}
.apeswap-img{
    margin-bottom: 2%;
}

.chart-container{
    width: 100%;
    height: 20rem;
    margin-bottom: 8.1%;
    margin-left: 60%;
}

.road-map-description{
    color: rgba(255, 255, 255, 0.85);
    font-size: 15px;
    font-weight: 400;
    line-height: 162.023%;
    letter-spacing: 0.225px;
    margin-bottom: 1%;
}

.roadmap-container{
    display: flex;
    justify-content: center;
    width: 170%;
    margin-bottom: 8.1%;
}


.contact-description{
    color: rgba(255, 255, 255, 0.85);
    font-size: 15px;
    font-weight: 400;
    line-height: 162.023%;
    letter-spacing: 0.225px;
    margin-bottom: 1%;
}

.social-media-container{
    margin-right: auto;
    margin-bottom: 5%;
}

@media only screen and (max-width: 767px){
    .container{
        width: 87%;
        margin: 2rem auto;
    }
    .short-cut-container{
        overflow: scroll;
    }
    .short-cut-container::-webkit-scrollbar {
        display: none;
    }
    .short-cut-container button{
        font-size: 13px;
        width: 20vw;
        margin-right: 7vw;
    }
    .title{
        margin-bottom: 0.8rem;
    }
    .description{
        margin-bottom: 2rem;
    }
    .token-description{
        margin-bottom: 1rem;
    }
    .buying-guidance-title{
        margin-bottom: 0.7rem;
    }
    .buying-guidance-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 0.5rem;
        margin-bottom: 2rem;
    }
    .buying-platform-container{
        width: 90%;
    }
    .chart-container{
        margin-left: 0;
        width: 115.1%;
        min-width: 360.6px;
        max-width: 45rem;
        overflow: hidden;
    }
    .road-map-description{
        margin-bottom: 1rem;
    }
    .roadmap-container{
        width: 100%;
        overflow-x: scroll;
    }
    .roadmap-container::-webkit-scrollbar {
        display: none;
    }
}

