.container{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.profile-container{
    width: 24rem;
    height: 35rem;
    margin-top: 2rem;
    border-radius: 20px;
    border: 1.6px solid rgba(0, 150, 255, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-box{
    display:  flex;
    flex-direction: row;
    width: 19rem;
    margin-top: 25px;
}

.profile-img-container{
    border-radius: 90px;
    border: 2px solid #FFF;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-icon{
    width: 30px;
    height: 30px;
}

.info-container{
    margin-left: 20px;
    margin-top: 15px;
}

.info-container h3{
    font-weight: 500;
}

.info-container p{
    font-weight: 600;
}

.social-media{
    display: flex;
    width: 19rem;
    margin-top: 25px;
}

.social-media a{
    margin-right: 3px;
}

.social-media img{
    width: 25px;
    height: 25px;
    margin: 0 1px;
    display: block;
}

.social-media a :hover{
    filter: brightness(130%);
}

.info-box{
    width: 19rem;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.85);
}

.info-box h3{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

.info-box p{
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 15px;
}

.refer{
    width: 19.5rem;
    margin-left: 10px;
}

.noHover{
    font-weight: 700;
    font-size: 17px;
    background: linear-gradient(to right, #0FB3FF, #4924FF);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    color: transparent;
}

.hovered{
    font-size: 13px;
    font-weight: 500;
    background: linear-gradient(to right, #0FB3FF, #4924FF);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    color: transparent;
    width : fit-content;
    padding: 5px;
    transition: all 0 linear;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #0FB3FF, #4924FF) 1;
    
}
.editContect{
    display: flex;
    flex-direction: column;
    width: 19rem;
}

.edit-icon{
    margin-left: auto;
    margin-right: -15px;
    width: 22px;
    height: 22px;
    background-color: #06092d;
    border: none;
    color: white;
}
/* .edit-icon-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: -15px;
    /* width: 22px;
    height: 22px; */


.bio{
    resize: none;
    background-color: #06092d;
    border:none ;
    color: white;
    overflow: visible;
    margin: 5px 0 3px 0;
    
}
.bio:focus{
    outline: none;
}
.bio::-webkit-scrollbar{
    display: none;
}
.bioEdit{
    resize: none;
    background-color: rgba(0, 150, 255, 0.20);
    border:none ;
    padding: 10px;
    border: transparent 1px rgba(0, 150, 255, 0.20);
    border-radius: 12px;
    width: 18rem;
    color: white;
    margin: 10px 0;
    font-size: 11px;
}
.bioEdit:focus{
    outline: none;
}
.username:focus{
    outline: none;
}
.username{
    background-color: #06092d;
    border:none ;
    color: white;
    margin: 5px 0;
}

.usernameEdit{
    width: 18rem;
    background-color: rgba(0, 150, 255, 0.20);
    padding: 10px;
    border: none;
    border: transparent 1px rgba(0, 150, 255, 0.20);
    border-radius: 12px;
    color: white;
    margin: 10px 0;
    
}
.usernameEdit:focus{
    outline: none;
}


.changPassword{
    color: #0096FF;
    margin-bottom: 30px;
    font-weight: 500;
}
.toggleLable{
    font-weight: 400;
    font-size: 14px;
}
.submitEditButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 13rem;
    margin-right: 25px;
    border: none;
    padding: 10px;
    padding-bottom: 25px;
    width: 105px;
    height: 30px;
    border:transparent 0.1px #06092d;
    border-radius: 6px;
    background-color: var(--main-blue, #0096FF);
    color: white;
}

