.container {
  width: 40rem;
  margin: 0 auto;
  border-radius: 20px;
  border: 1.6px solid rgba(0, 150, 255, 0.95);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 2rem 3rem;
  font-size: 16px;
}

.profile-header {
  display: flex;
  width: 100%;
  align-items: center;
  gap: .6rem;
}

.profile-img-container {
  border-radius: 100%;
  border: 2px solid #fff;
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-icon {
  font-size: 40px;
}

.edit-icon {
  margin-left: auto;  
  font-size: 25px;
 
  background-color: #06092d;
  border: none;
  color: white;
  cursor: pointer;
}
.social-media {
  width: 100%;
  display: flex;
  margin-top: 1.3rem;
}

.social-media a {
  margin-right: 3px;
}

.social-media img {
  width: 2.5rem;
  display: block;
  border-radius: 100%;
}

.social-media a :hover {
  filter: brightness(130%);
}

.info-form {
  width: 100%;
  color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
}

.info-form h3 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 1.4rem;
}
.info-form p {
  color: white;
  margin: 0.7rem 0;
}

.footer-container {
  width: 100%;
}
.referral {
  display: flex;
  justify-content: space-between;
  margin-top: 1.3rem;
}
.referral button {
  font-weight: 700;
  font-size: 22px;
  background: linear-gradient(to right, #0fb3ff, #4924ff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

.referral-icon {
  color: #0fb3ff;
  font-size: 18px;
}
.referral-copy {
  display: flex;
  align-items: center;
}
.referral-copy img {
  width: 1.5rem;
}
@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
    border: none;
    padding: 1rem;
  }
  .profile-img-container{
    width: 4rem;
    height: 4rem;
  }
  .header-info{
    font-size: 12.5px;
  }
  .user-icon{
    font-size: 30px;
  }
  .edit-icon{
    font-size: 20px;
  }
  .social-media img {
    width: 2rem;
  }
  .info-form h3{
    font-size: 18px;
  }
  .referral button{
    font-size: 18px;
  }
}
