.page-container {
  margin: 4rem auto;
  display: flex;
  width: 59rem;
  gap: 7rem;
  color: white;
  width: 80%;
  margin: 6rem auto;
}
.report-issue-container {
  width: 50%;
}
.report-header-container {
  width: 95%;
}

.header-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.header-body {
  font-size: 16.5px;
  font-weight: 350;
  letter-spacing: 0.21px;
  margin-top: 1.3rem;
}

.report-input-container {
  margin-top: 1.5rem;
}

.report-input-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.report-input {
  resize: none;
  background-color: rgba(0, 150, 255, 0.2);
  border: none;
  padding: 10px;
  border: transparent 1px rgba(0, 150, 255, 0.2);
  border-radius: 12px;
  width: 100%;
  color: white;
  margin: 10px 0;
  height: 9.5rem;
}
.repor-input:hover {
  filter: brightness(120%);
}
.report-input::placeholder {
  color: rgba(255, 255, 255, 0.95);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.18px;
}
.report-input:focus {
  outline: none;
}

.report-input::-webkit-scrollbar {
  display: none;
}

.submit-edit-button {
  width: 30%;
  border: none;
  border-radius: 15px;
  background-color: var(--main-blue, #0096ff);
  color: white;
  padding: 1rem 2rem;
  font-size: 16px;
  align-self: flex-end;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.21px;
  margin-top: 0.6rem;
  margin-left: 16rem;
  font-weight: bold;
}

.side-pictures-container {
  position: relative;
  width: 40rem;
  display: flex;
}

.left-image {
  z-index: 2;
  width: 17rem;
  height: 22rem;
}

.right-image {
  position: relative;
  left: -3rem;
  z-index: 1;
  width: 17rem;
  height: 22rem;
}
.modal {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.modal p {
  display: flex;
  align-items: center;
}
.icon{
  width: 2.5rem;
  height: 2.5rem;
}
.x{
  width: 1rem;
  align-self: flex-end;
  cursor: pointer;
}
/* Success message 

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(4, 12, 55, 0.75);
}

.modal {
  position: fixed;
  top: 30%;
  left: 35%;
  right: 35%;
  width: 35%;
  padding: 1% 2%;
  padding-bottom: 4%;
  font-size: 16px;
  font-weight: 500;
  z-index: 100;
  overflow: hidden;
  color: white;
  background: var(--background, #040c37);
  border: 1px solid rgba(0, 150, 255, 0.75);
  border-radius: 20px;
}

.cross {
  margin-left: 96%;
}

.content{
  display: flex;
  justify-content: space-between;
}

.check{
  color: #15ff00;
  font-size: 1.4rem;
  border-radius: 50%;
  margin-right: 2%;
  box-shadow: 0px 0px 10px 4px #1d8713;
}


.emoji{
  width: 1.7rem;
  margin-bottom: -0.5rem;
}
*/

/*responsive*/
@media only screen and (max-width: 767px) {
  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 93%;
    margin: 1rem auto;
    gap: 4rem;
  }
  .report-issue-container {
    width: 100%;
  }
  .report-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92vw;
  }
  .header-title {
    font-size: 18px;
    letter-spacing: 0.27px;
  }
  .header-body {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.195px;
  }
  .report-input-container {
    margin-top: 0.8rem;
    width: 92vw;
  }
  .report-input-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .report-input {
    width: 92vw;
    height: 8rem;
  }
  .submit-edit-button {
    width: 8rem;
    padding: 0.9rem 1rem;
  }

  .side-pictures-container {
    width: 90%;
  }
  .left-image {
    width: 52vw;
    top: 5px;
    z-index: 2;
    left: 0.01vw;
  }
  .right-image {
    width: 45vw;
    left: 43vw;
    top: 0px;
    position: absolute;
    z-index: 1;
  }
  .modal{
    width: 95%;
  }
}
p.error-message {
  color: red;
  margin: 10px 0;
}
