.container {
  width: 100%;
  margin: 0 auto;
  height: 40rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  border-radius: 20px;
  /* box-shadow: 0 0 12px inset #00d7ff; */
  font-size: 18px;
}
.logo {
  width: 15rem;
  align-self: flex-start;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28rem;
  margin-top: 2rem;
}
.form p {
  margin-bottom: 3rem;
  margin-top: 1rem;
}
.input {
  background-color: #0096ff33;
  color: white;
  border: none;
  outline: none;
  width: 100%;
  margin: 7px 0;
  padding: 0 1rem;
  height: 3rem;
  border-radius: 12px;
  font-size: 16px;
}
.inner-input {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  width: calc(97% - 1rem );
  height: 100%;
  border-radius: 12px;
  font-size: 16px;
}
.invalid-input {
  background-color: #0096ff33;
  color: white;
  border: none;
  outline: none;
  width: 100%;
  margin: 7px 0;
  padding: 0 1rem;
  height: 3rem;
  border-radius: 12px;
  font-size: 16px;
  box-shadow: 0 0 12px inset red;
}
.invalid-inner-input {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  width: calc(97%-1rem);
  font-size: 16px;
  height: 100%;
}
.forgot-password{
  color: white;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-start;
}
.icon {
  width: 1rem;
  cursor: pointer;
}
.button {
  width: 75%;
  padding: 13px;
  border-radius: 12px;
  background: linear-gradient(90deg, #5800ff 0%, #00d7ff 100%);
  border: none;
  color: white;
  margin: 10px 0;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.button::before {
  position: absolute;
  content: "";
  border-radius: 12px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.3s linear;
  opacity: 0;
  background: linear-gradient(45deg, #00d7ff 0%, #5800ff 100%);
}
.button:hover::before {
  opacity: 1;
}
.recaptcha {
  margin: 1.5rem;
}
.footer-link {
  text-decoration: none;
  color: #30dfff;
}
p.error-message {
  color: red;
  margin: 10px 0;
}

@media only screen and (max-width: 480px) {
  .form {
    width: 90%;
  }
  .logo {
    width: 10rem;
  }
  .form h1{
    font-size: 25px;
  }
}
